.App {
  height: 100%;
  display: grid;
  grid-template-rows: 5rem 1fr 5rem;
}

header {
  background-color: lightcoral;
}

main {
  overflow-y: scroll;
  background-color: lightskyblue;
}

footer {
  background-color: lightyellow;
}
